* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

h1 {
  margin: 0.5rem;
  font-size: 2rem;
}

header ul {
  margin: 0.5rem;
  text-align: end;
  list-style: none;
  font-size: 1.3rem;
}

main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 0.5rem;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid orange;
  cursor: pointer;
  color: black;
}

.card-image {
  text-align: center;
  flex-basis: 100%;
}

.card-title {
  align-self: flex-end;
  text-align: center;
  flex-basis: 100%;
}